.content {
  /* margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid green;

  padding: 50px 0px;
  background: #a3c6c4; */

  /* background: #a3c6c4;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 45px 10px;
  margin-top: 75px;
  font-size: 0.9em;
  font-family: sans-serif;
  padding: 25px;
  min-width: 400px;
  /max-width: 30%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */

  background: #a3c6c4;
  margin-left: 30%;
  margin-right: 30%;
  border-collapse: separate;
  border-spacing: 45px 10px;
  margin-top: 40px;
  /* font-size: 0.9em; */
  font-size: 21px;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 35px;


}
.form_input{
  display: inline-block;
  border: none;
}
.register_form{
  display: inline-block;
}
input{
  font-size: 21px;
}
