<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit or delete</title>
  </head>
  <body>

    <button style = "font-family:Robotic;font-size:35px;" type="button"><a href='../home'>
      Home
    </a></button>


<table style="width:90%;border-spacing: 25px;text-align=left;" >
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Date of birth</th>
    <th>Login</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for user in user_properties %}
    {% if not user.5 %}
    <tr>
      {% for prop in user|slice:":5" %}
        <th style = "font-family:Geneva;font-size:16px;">
          {{ prop }}
        </th>
      {% endfor %}
      <th>
        <button type="button"><a  href = '/profile_view/{{user.0}}/'>Edit</a></button>
      </th>
      <th>
        <button type="button"><a  href = '/profile_delete/{{user.0}}/'>Delete</a></button>
      </th>
    </tr>
    {% endif %}
  {% endfor %}
</table>




  </body>
</html>
