{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_view.css' %}">
    <meta charset="utf-8">
  </head>
  <body>
  <div class="menu">
    <div class="btn_gropu">
      <script src="https://kit.fontawesome.com/e0b1527393.js" crossorigin="anonymous"></script>

      <a href='../..'>
        <button class="btn bounce">
          <i class="fas fa-home fa-5x">
          </i>
          <p class="btn_txt">
            Home
          </p>
        </button>
      </a>

      <a href='../../show/?page=1'>
        <button class="btn bounce">
          <i class="fas fa-list fa-5x">
          </i>
          <p class="btn_txt">
            List
          </p>
        </button>
      </a>

      <a href='../../profile/?page=1'>
        <button class="btn bounce">
          <i class="fas fa-user-edit fa-5x">
          </i>
          <p class="btn_txt">
            Edit or Delete
            </p>
        </button>
      </a>

      <a href='../../form'>
        <button class="btn bounce">
          <i class="fas fa-user-plus fa-5x">
          </i>
          <p class="btn_txt">
          Create
          </p>
        </button>
      </a>
    </div>
  </div>


    <div class=content>
      <form method="post" style='position: relative;'>
        {% csrf_token %}
          <fieldset style='display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: 0;'>
            <label style='display: block; font-weight: bold;'>Id</label>
            <p>{{user_properties.0}}</p>
            <input type="text" name="id" style='visibility: hidden;'>
          </fieldset>
        <fieldset style='display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: 0;'>
          <label style='display: block; font-weight: bold;'>Name</label>
          <p>{{user_properties.1}}</p>
          <input type="text" name="name" required id="id_name">
        </fieldset>

        <fieldset style='display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: 0;'>
          <label style='display: block; font-weight: bold;'>Surname</label>
          <p>{{user_properties.2}}</p>
          <input type="text" name="surname" required id="surname">
        </fieldset>

        <fieldset style='display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: 0;'>
          <label style='display: block; font-weight: bold;'>Date of birth</label>
          <p>{{user_properties.3}}</p>
          <input type="date" name="dateOfBirth" required id="dateOfBirth">
          {{ UserForm.dateOfBirth }}

        </fieldset>

        <fieldset style='display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: 0;'>
          <label style='display: block; font-weight: bold;'>Login</label>
          <p>{{user_properties.4}}</p>
          <input type="text" name="login" required id="login">
        </fieldset>

        <input class= "centered_button" type="submit" value="Edit">
      </form>
    </div>
  </body>
</html>
