<h1>reg</h1>
<form method="POST">
  {% csrf_token %}

  <fieldset class="form_input">
    <input class="user_input" type="text" name="username" required id="id_username" placeholder="username">
    <input class="user_input" type="text" name="email" required id="id_email" placeholder="email">
    <input class="user_input" type="text" name="password1" required id="id_password1" placeholder="password1">
    <input class="user_input" type="text" name="password2" required id="id_password2" placeholder="password2">
  </fieldset>
  <!-- {{form.username.label}}
  {{form.username}}
  {{form.email.label}}
  {{form.email}}
  {{form.password1.label}}
  {{form.password1}}
  {{form.password2.label}}
  {{form.password2}} -->

  <input type="submit" name="Create User" value="submit">
</form>
