<h1>reg</h1>
<form method="POST">
  {% csrf_token %}
  <!-- {{ form }} -->
  <!-- <fieldset class="form_input">
    <input class="user_input" type="text" name="username" required id="id_username" placeholder="username">
    <input class="user_input" type="text" name="email" required id="id_email" placeholder="email">
    <input class="user_input" type="text" name="password1" required id="id_password1" placeholder="password1">
    <input class="user_input" type="text" name="password2" required id="id_password2" placeholder="password2">
  </fieldset> -->






  <fieldset class="form_input">
    <label for="login">{{form.username.label}}</label>
    <input class="user_input" type="text" name="login">
    {{form.username}}
  </fieldset>



  <br>{{form.username.label}}
  <br>{{form.username}}
  <br>{{form.email.label}}
  <br>{{form.email}}
  <br>{{form.password1.label}}
  <br>{{form.password1}}
  <br>{{form.password2.label}}
  <br>{{form.password2}}
  <br>
  <input type="submit" name="Create User" value="submit">
</form>
