{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
  <div class=content>
    <h2 style="text-align: center">Register:</h2>
    <form method="post" class="register_form">
      {% csrf_token %}
      {% for field in form %}
        <div class=user_input>
        {{field.label}}
        {{field}}
        {% if field.help_txt %}
          <small> {{field.help_txt}} </small>
        {% endif %}
        {% for error in field.errors %}
          <p> {{error}} </p>
        {% endfor %}
        </div>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
