{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
  <div class=content>
    <h2 style="text-align: center">Create User:</h2>
      <div>
      <form action="/register/" method="post" class="user_form">
        {% csrf_token %}
          <fieldset class="form_input">
            <label for="name">Name: </label>
            <input class="user_input" type="text" name="name" required id="name">
            {{ StudentForm.name }}
        </fieldset>
      </div>
      <div>
        <fieldset class="form_input">
          <label for="surname">Surname: </label>
          <input class="user_input" type="text" name="surname" required id="surname">
          {{ StudentForm.surname }}
        </fieldset>
      </div>
      <div>
        <fieldset class="form_input">
          <label for="dateOfBirth">Date of birth: </label>
          <input class="user_input" type="date" name="dateOfBirth" required id="dateOfBirth">
            {{ StudentForm.dateOfBirth }}
        </fieldset>
      </div>
      <div>
        <fieldset class="form_input">
          <label for="login">Login: </label>
          <input class="user_input" type="text" name="login" required id="login">
          {{ StudentForm.login }}
        </fieldset>
      </div>
      <input class="user_input" type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
