body {
  background: rgb(229,229,229);
  font-size: 21px;

}
.menu{
  display: inline-block;
  width: 50%;
  margin: auto;
}


.form_input{
  display: inline-block;
  border: none;
}
.user_form{
  display: inline-block;
}
.user_input{
  font-size: 21px;
}

.fas{
  color: rgb(87,100,140);
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 12px rgba(0,0,0,0.19);
}
.btn{
  float: left;
  background: rgb(194,180,214);
  border: none;
}
