/* body {
  background: rgb(229,229,229);
    font-size: 16px;
}
.menu{
  display: inline-block;
  width: 50%;
  margin: auto;
}


.btn_txt {
  font-family:"Times New Roman";
}
.fas{
  color: rgb(87,100,140);
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 12px rgba(0,0,0,0.19);
}
.btn{
  float: left;
  background: rgb(194,180,214);
  border: none;
} */
